html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.wraper {
    margin-left: 350px;
}

.container {
    max-width: 1240px;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }


